/* Root admin layout */
.homemain {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Sidebar container */
.sidebar {
  width: 240px;
  flex-shrink: 0;
}

/* Right-side layout (Navbar + AdminRouter) */
.homemain > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: calc(100% - 240px);
  min-height: 100vh;
}

/* Navbar wrapper */
.navbar {
  width: 100%;
  height: 70px;
  flex-shrink: 0;
}

/* Admin route content */
.homemain > div:nth-child(2) > div:last-child {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}


/* Responsive adjustments */
@media (max-width: 900px) {
  .sidebar {
    width: 200px;
  }

  .homemain > div:nth-child(2) {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
