/* Main homepage container */
.mainRhome {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Sidebar container */
.rsidebar {
  width: 240px;
  flex-shrink: 0;
}

.Rhomeitem{
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    min-height: 100vh;
}

.rnavbar{
    height: 70px;
    width: 100%;
    flex-shrink: 0;
}

.rrouter{

  width: 100%;
  overflow-y: auto;
}